<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
  </head>
  <body>
    <div>    <p>Let your colleague know who you are. Type your name.</p>
        <textarea rows="1" cols="60" placeholder="Type Something..."></textarea></div>
    <div>    <p>Type your colleague's email.</p>
        <textarea rows="1" cols="60" placeholder="Type Something..."></textarea></div>

    <p>Type some words that describe your colleague.</p>
    <textarea rows="1" cols="60" placeholder="Type Something..."></textarea>
    <p>Type some words that represent areas your colleague need to improve on.</p>
    <textarea rows="1" cols="60" placeholder="Type Something..."></textarea>
    <p>Want to say more? Write them a message</p>
    <textarea rows="5" cols="60" placeholder="Type Something..."></textarea>
    <div>    <button >Send to my colleague!</button></div>

  </body>
</html>
